<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/navbar.html :: header( title = 'Productos')"></head>
    <body>
        <div class="container">
            <nav th:replace="fragments/navbar.html :: navbar( active = 'Product')"></nav>
            <h2 th:text="${product.id == 0? 'Nuevo Producto' : 'Editar Producto'}">Nuevo/Editar Producto</h2>
            <hr/>
            <form method="post" th:action="@{'/product/save'}" th:object="${product}">
                <input type="hidden" th:field="*{id}" />
                <div class="form-group">
                    <label for="productname">Nombre del Producto</label>
                    <input type="text" class="form-control" th:field="*{productname}"/>
                    <div class="text-danger" th:if="${#fields.hasErrors('productname')}" th:errors="*{productname}"></div>
                </div>
                <div class="form-group">
                    <label for="supplier">Proveedor</label>
                    <select class="form-control" th:field="*{supplier}">
                        <option th:each="supplier : ${listaProveedores}"
                                th:value="${supplier.id}" th:text="${supplier.companyname}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="category">Categoría</label>
                    <select class="form-control" th:field="*{category}">
                        <option th:each="categoria : ${listaCategorias}" th:value="${categoria.id}"
                                th:text="${categoria.categoryname}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="quantityperunit">Cantidad por unidad</label>
                    <input type="text" class="form-control" th:field="*{quantityperunit}"/>
                </div>
                <div class="form-group">
                    <label for="unitprice">Precio unitario</label>
                    <input type="text" class="form-control" th:field="*{unitprice}"/>
                    <div class="text-danger" th:if="${#fields.hasErrors('unitprice')}" th:errors="*{unitprice}"></div>
                </div>
                <div class="form-group">
                    <label for="unitsinstock">Unidades en stock</label>
                    <input type="number" class="form-control" th:field="*{unitsinstock}"/>
                    <div class="text-danger" th:if="${#fields.hasErrors('unitsinstock')}" th:errors="*{unitsinstock}"></div>
                </div>
                <div class="form-group">
                    <label for="unitsonorder">Unidades ordenadas</label>
                    <input type="number" class="form-control" th:field="*{unitsonorder}"/>
                    <div class="text-danger" th:if="${#fields.hasErrors('unitsonorder')}" th:errors="*{unitsonorder}"></div>
                </div>
                <div class="form-group">
                    <label for="reorderlevel">Nivel de reorden</label>
                    <input type="number" class="form-control" th:field="*{reorderlevel}"/>
                </div>
                <div class="form-check pb-2">
                    <input class="form-check-input" type="checkbox" th:field="*{discontinued}"/>
                    <label class="form-check-label" for="discontinued">¿Descontinuado?</label>
                </div>
                <a th:href="@{'/product'}" class="btn btn-danger">Cancelar</a>
                <button type="submit" class="btn btn-primary" th:text="${product.id == 0? 'Registrar' : 'Actualizar'}">Reg/act</button>
            </form>
        </div>
    </body>
</html>