<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="header (title)">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <script th:src="@{/js/jquery-3.4.1.slim.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <title th:text="${title}"></title>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4" th:fragment="navbar (active)">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <a class="navbar-brand" href="#">Northwind</a>
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item" th:classappend="${active == 'Employee'?'active':''}">
                            <a class="nav-link" th:href="@{/employee}">Employee</a>
                        </li>
                        <li class="nav-item" th:classappend="${active == 'Shipper'?'active':''}">
                            <a class="nav-link" th:href="@{/shipper}">Shipper</a>
                        </li>
                        <li class="nav-item" th:classappend="${active == 'Product'?'active':''}">
                            <a class="nav-link" th:href="@{/product}">Product</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </body>
</html>